html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-family: 'Dosis', sans-serif !important;
}

nav {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 120px;
	background: white;
	position: fixed;
	z-index: 1;
	// border-bottom: 1px solid #e74c3c;
	border-bottom: 1px solid #929292;
	h1 {
		margin-left: 20px;
		vertical-align: middle;
		font-size: 32px;
		display: inline;
		color: #929292;
		span {
			color: #898989;
			font-weight: 800;
		}
	}	
	.logo {
		margin-top: 10px;
		img {
			height: 100px;
		}
	}
	.total {
		line-height: 120px;
		text-align: right;
	}
}

.splashWrap {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	background: url(../images/splashImg.png);
	background-position: top;
	background-size: cover;
	overflow: hidden;
	h1 {
		position: absolute;
		padding: 6px;
		width: 380px;
		margin: 0px;
		text-align: center;
		top: 50%;
		left: 50%;
		min-width: 480px;
		margin-top: -40px;
		margin-left: -240px;
		padding-bottom: 15px;
		background: rgba(255, 255, 255, 1);
		font-size: 45px;
		color: #e74c3c;
		span {
			font-size: 32px;
		}
	}
}

@media screen and (max-width: 380px) {
	.splashWrap {
		h1 {
			padding: 0px;
			margin: 0px;
			width: 100%;
			left: 0px;
			border-radius: 0px;
		}
	}
}

.topWrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
	.topContent {
		h1 {
			margin-top: 40px;
			color: #e74c3c;
			width: 90%;
			max-width: 1000px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		h2 {
			width: 90%;
			max-width: 1000px;
			font-size: 25px;
			display: block;
			margin-left: auto;
			margin-right: auto;	
		}
		p {
			width: 90%;
			max-width: 1000px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10px;
		}
	}
}

.tierWrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	.tier {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 50%;
		width: 100%;
		.info {
			width: 90%;
			max-width: 400px;		
		}
	}

	#tier1 {
		// background: #e74c3c;
		border-top: 2px solid #e74c3c;
	}

	#tier2 {
		text-align: left;
	}

	#tier3 {
		text-align: right;
		background: #e74c3c;
	}

	#tier4 {
		text-align: left;
	}

	#tier5 {
		text-align: right;
		background: #e74c3c;
	}
}

.panel {
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	font-size: 20px;
	.panel-title {
		font-size: 30px;
		span {
			float: right;
		}	
	}
	.stats {
		list-style: none;
		li {
			font-size: 25px;
			span {
				float: right;
				color: #e74c3c;
			}
		}
	}
}





